body 
{
	background-color: #000000;
	background-image: url("http://i.imgur.com/nbbkiMb.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
			
#stream
{
	bottom: 8;
	position: absolute;
}

#schedule
{
	color: #000000;
	height: 34;
	font-family: monospace;
	font-size: 14;
	top: 5;
	position: absolute;
}

#nowPlaying
{
	width: 300;
	height: 380;
	bottom: 10;
	right: 10;
	position: absolute;
}

p
{
	font-family: monospace;
	font-size: 14;
	margin: 0px;
}

.showInactive
{
	color: #FFFF00;
}

.showActive
{
	color: #FF0000;
}
